svg path {
    fill:  black;
    stroke: blue;
    stroke-width: .25;
}


svg path:hover{
    fill: aqua;
}
svg{
    /*background-image: url("./map-picture.jpg");
    background-size: 6950px;*/
    padding-left: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-right: 10%;
}